/*------------------------------------------------------------------
[Header Stylesheet]

Project:	USA Rugby Project Stats
Version:	2.0

1. Header

--------------------------------------------------------------------*/

header {
	background: #FFF;
	height: 50px;
	line-height: 50px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

#branding {
	float: left;
	display: block;
}

nav {
	float: right;
	display: block;
}